<%= render 'partials/add_hero_modal' %>

<h1> <%= @quest.name %> </h1>

<h3>Locations</h3>
<% @quest.locations.each do |location| %>
	<div class="well">		
		<%= location.name %>
		<%= location.clue %>
		<p><span><%= location.lat %></span><span><%= location.lng %></span><br>
		<%= link_to 'Remove', {:controller => 'quests', :action =>'remove_location', :location=>location.id }, method: :post %>
	</div>
<% end %>

<h3>Users</h3>
<% @quest.users.each do |user|  %>
	<div class="well">
		<%= user.email %>
		<%= link_to 'Remove', {:controller => 'quests', :action =>'remove_user', :user=>user.id }, method: :post  %>
	</div>
<%end %>

<a class="btn btn-primary" data-toggle="modal" href='#add-heroes'>Add a Hero!</a>

<h3> Name and times </h3>
<%= bootstrap_form_for @quest do |f|%>
	<%= f.text_field :name, value: @quest.name %>
	<%= f.datetime_local_field :start, value: @quest.start_date.to_s.split(' ').join('T')[0...-4] %>
	<%= f.datetime_local_field :end, value: @quest.end_date.to_s.split(' ').join('T')[0...-4] %>
	<%= f.submit 'Update name and dates', class: 'btn' %>
<%end  %>