<div id="userbackground">
	<h1>Welcome to your Quest Manager, <%= @current_user.name %></h1>

	<%= link_to "Make a new Quest", new_quest_path, class: "btn btn-primary center-block", id: "makequest" %>



	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			
		
		<!-- Lists all owned quests -->
		<div id="participating-quest-container">
			<h2 class="quest-label">Participating In</h2>
			<p class="text-center">Quests you have been invited to join by others</p>
			<% i=0 %>
			<% if @player_quests.length > 0 %>
				<% @player_quests.each do |q| %>
				<div class="container questdiv">
					<h4><%=  q.name %> - Invited by <%= @quest_creators[i] %></h4>
					<% i+=1 %>
					<!-- <a href="/quests/<%= q.id %>" class="btn center-block">Go to this Quest</a> -->
					<h6>Participants: </h6>
						<p>
							<% q.users.each do |u|%>
								<%= u.name  %> 
							<% end %>
						</p>
						
					

					<h6>Timeframe:</h6>
					<p>Start: <%= q.start_date %></p>
					<p>End: <%= q.end_date %></p>
					<%=link_to 'Go to this Quest', quest_path(q), class: 'btn center-block go-to'  %>
				</div>	
				<% end %>
			<% else %>
				<h4 class="text-center">**You are not a member of any Quests yet**</h4>
			<% end %> 
		</div>
		</div>
	<!-- Lists all quests the user has participated in -->

		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			
		
		<div id="quest-container">
			<h2  class="quest-label">Creator of</h2>
			<p class="text-center">Quests you have designed for others</p>
			<% if @owner_quests.length > 0 %>
				<% @owner_quests.each do |q| %>
				<div class="container questdiv-owned">
					<h4><%=  q.name %></h4>
					<h6>Participants: </h6>
						<p><% q.users.each do |u|%>
							<%= u.name  %>
						<% end %>
						</p>
					<h6>Timeframe:</h6>
					<p>Start: <%= q.start_date %></p>
					<p>End: <%= q.end_date %></p>
					<%= link_to 'Edit Quest', edit_quest_path(q), class: 'btn center-block edit' %>
					<%= link_to 'Delete', quest_path(q), class: 'btn center-block delete', method: :delete %>
				</div>	
				<% end %>
			<% else %>
				<h4 class="text-center">**You have not created any Quests yet**</h4>
			<% end %>
		</div>
		</div>
	</div>
</div>