	<div id="signupmodal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Login modal content-->
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal">&times;</button>
	        	<h4 class="modal-title">Signup</h4>
	      	</div>
	      	<div class="modal-body">

	      	<%= bootstrap_form_for :users, :url => url_for(:controller => 'users', :action => 'create') do |f|%>
	      		<%= f.text_field :email, placeholder: 'generic.email@gmail.com'%>
				<%= f.text_field :name, placeholder: 'username'%>
				<%= f.text_field :phone, placeholder: '10 digit number, no spaces' %>
				<%= f.password_field :password, placeholder: 'minimun 8 characters' %>
				<%= f.password_field :password_confirmation, placeholder: 're-type password' %>

				<%= f.submit 'Sign Up'%>
	      	<% end %>
	        	<p class="centertext"><a data-toggle="modal" data-target="#loginmodal" data-dismiss="modal">Back to Login</a></p>
	      	</div>
	    </div>

	    <!-- Sign up -->

	  </div>
	</div>