<div id="userbackground">
<h1>Welcome <%= @current_user.name %></h1>
<%= link_to "Make a new Quest", new_quest_path, class: "btn btn-primary", id: "makequest" %>

<!-- Lists all quests the user has participated in -->
<div id="quest-container">
<% @quests.each do |q| %>
	<div class="container questdiv">
		<h4><%=  q.name %></h4>
		<p><%= q.start_date %></p>
		<p><%= q.end_date %></p>
		<div>
			
		</div>
	</div>
<% end %>
</div>

</div>