<div id="userbackground">
	<h1>Welcome <%= @current_user.name %></h1>
	<%= link_to "Make a new Quest", new_quest_path, class: "btn btn-primary center-block", id: "makequest" %>


	<!-- Lists all owned quests -->
	<div id="participating-quest-container">
		<h2>Accepted quests</h2>
		<% @player_quests.each do |q| %>
		<div class="container questdiv">
			<h4><%=  q.name %></h4>
			<p><%= q.start_date %></p>
			<p><%= q.end_date %></p>
		</div>	
	</div>
	<% end %>
<!-- Lists all quests the user has participated in -->
	<div id="quest-container">
		<h2>Owned quests</h2>
		<% @owner_quests.each do |q| %>
		<div class="container questdiv">
			<h4><%=  q.name %></h4>
			<p><%= q.start_date %></p>
			<p><%= q.end_date %></p>
			<%= link_to 'Delete this quest', quest_path(q), class: 'btn', method: :delete %>
		</div>	
		<% end %>
	</div>
</div>