<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <title>Skavengr</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= include_gon %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0"/>
  <link href='https://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
</head>
<body>

	<nav class="navbar">


		<%= link_to image_tag('vulture-white.png', class: "vulture"), "/" %>
		<a id="home" class="navbar-brand" href="/">Skavengr</a>
			<div id="navright" class="pull-right">

				<% if @current_user  %>
				<ul id="nav-links-right">
					<li><a id="quest-manager" href="/users/<%= @current_user.id %>">Quests</a></li>
					<li class="dropdown">
						<a id="username" href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @current_user.name %> <b class="caret"></b></a>
						<ul class="dropdown-menu pull-right">
							<li><a href="/users/<%= @current_user.id %>/edit">Edit Profile</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</li>
				</ul>
				<% else  %>
					<li><a id="login" href="#" data-toggle="modal" data-target="#loginmodal">Login/Signup</a></li>
				<% end  %>

			</div>

	</nav>

	<!-- Modal for Login and Signup -->
	<%= render "partials/login_modal" %>
	<%= render "partials/signup_modal" %>



	<!-- Flash notifications -->
	<%= render "partials/flash" %>

<%= yield %>

</body>
</html>
